@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* ============= NavBar Style Start ============= */

.nav-bg{
    background-color: var(--bg-color);
}

/* ============= NavBar Style End ============= */


/* ============= Home Style Start ============= */

.sec1-main{
  height: 100vh;
  background-color: var(--bg-color);
}

/* ============= Home Style End ============= */


.custom-shape-divider-bottom-1698782216 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698782216 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1698782216 .shape-fill {
    fill: #0ef;
}

/* =========== Other Customer CSS Start ===========  */

.me-30{
  margin-right: 30% !important;
}

.py-15{
  padding: 15px 0 !important;
}

/* =========== Other Customer CSS End ===========  */